
body {
	font-family: Calibri;
	color: #ffffff;
	background-color:rgb(90,90,90);
}
#Banner{
	width: 1000px;
	height: 100px;
	background-color: #313230;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
h1{
	margin:0;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	color: white;
	text-decoration: none;
}
#Nav{
	width: 1000px;
	height: 53px;
	background-color: #313230;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	
}
#Navleft{
	width: 400px;
	margin: 0;
	float: left;
}
#Navcenter{
	width: 350px;
	margin: 0;
	float: left;
}
#Navright{
	width: 250px;
	margin: 0;
	float: right;
}
#Navright input{
	margin-top: 15px;
}
#Navright .text{
	margin-left: 16px;
}
#Featured{
	width: 1000px;
	height: 300px;
	background-color: #313230;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.slider-wrapper{
	width: 980px;
	height: 280px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px
}
#Content{
	width: 1000px;
	height: auto;
	background-color: #313230;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding-bottom: 25px
} 
#Content p{
	margin: 0;
	padding-left: 20px;
	padding-right: 10px;
}
#Content h3{
	margin: 0;
	padding-top: 15px;
	padding-left: 10px;
}
#Content form{
	padding-left: 15px;
	padding-top: 15px;
}
#Footer{
	width: 1000px;
	height: auto;
	background-color: #313230;
	margin-left: auto;
	margin-right: auto;
}
#Footer p{
	margin:0; /*Needed to stop weird auto margin breaking the layout*/
	text-align: center;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
}
#Content .Video{
	width: 853px;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
} 
.ContentImage{
	float:right;
	padding-right: 10px;
	padding-left: 10px
}

/* Menu Styling */
#Navleft ul {
	font-family: Calibri;
	font-size: 14px;
	margin: 0;
	padding: 0;
	list-style: none;
}
#Navleft ul li {
	display: inline-block;
}
#Navleft ul li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	padding: 18px 15px 18px 15px;
	margin-right: 1px;
}
#Navleft ul li a:hover {
	background: #0F5476
}

/* Social Icons */
#Navcenter ul {
	list-style: none;
	margin: 0;
	margin-top: 2px;
}
#Navcenter li {
	display: inline-block;
}